In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.duplicated().sum()

0

In [5]:
df.shape

(10000, 14)

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df = df.drop(['RowNumber','CustomerId','Surname'], axis = 1)

In [8]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
leg = LabelEncoder()

In [10]:
df['Gender'] = leg.fit_transform(df['Gender'])

In [11]:
df['Gender']

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int32

In [12]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [13]:
## one hot encode geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(df[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [14]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [15]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [16]:
# geo_encoder_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [17]:

geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [18]:
## combining one hot encoded columns to original data set
df = pd.concat([df.drop('Geography',axis=1),geo_encoder_df],axis = 1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [19]:
## save the encoders and scaler to pickle file 
import pickle

In [20]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(leg,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [21]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [22]:
## divide the dataset into independent and dependent features
X = df.drop('Exited',axis = 1)
y = df['Exited']

## split the data into train set and test set 
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.35,random_state=42)

In [23]:
## scale the data 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [24]:
X_train

array([[-0.62626691,  0.89362249,  0.48494234, ..., -1.00803226,
        -0.57427105,  1.74133801],
       [ 0.34328795, -1.11904077,  0.19812352, ...,  0.99203175,
        -0.57427105, -0.57427105],
       [-0.27180599, -1.11904077,  0.19812352, ...,  0.99203175,
        -0.57427105, -0.57427105],
       ...,
       [ 0.85412868, -1.11904077, -0.08869531, ...,  0.99203175,
        -0.57427105, -0.57427105],
       [ 0.14520685,  0.89362249,  0.38933607, ...,  0.99203175,
        -0.57427105, -0.57427105],
       [ 0.45796648,  0.89362249,  1.15418627, ..., -1.00803226,
         1.74133801, -0.57427105]])

In [25]:
X_test

array([[-0.59499094,  0.89362249, -0.66233296, ..., -1.00803226,
         1.74133801, -0.57427105],
       [-0.31350728,  0.89362249,  0.38933607, ...,  0.99203175,
        -0.57427105, -0.57427105],
       [-0.54286434, -1.11904077,  0.48494234, ..., -1.00803226,
        -0.57427105,  1.74133801],
       ...,
       [ 1.01050849, -1.11904077, -0.08869531, ..., -1.00803226,
        -0.57427105,  1.74133801],
       [ 0.96880721,  0.89362249, -1.42718316, ...,  0.99203175,
        -0.57427105, -0.57427105],
       [ 1.14603767,  0.89362249, -0.75793923, ..., -1.00803226,
         1.74133801, -0.57427105]])

In [26]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Implementation

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [28]:
X_train.shape[1]

12

In [29]:
## Build my ANN model
model = Sequential([
    Dense(300,activation='relu',input_shape = (X_train.shape[1],)), #HL1
    Dense(200,activation='relu'),
    Dense(100,activation='relu'),
    Dense(80,activation='relu'),
    Dense(70,activation='relu'),
    Dense(60,activation='relu'),
    Dense(50,activation='relu'), 
    Dense(25,activation='relu'),
    Dense(10,activation='relu'),
    Dense(5,activation='relu'),
    Dense(1,activation='sigmoid') #output layer
])

d:\Projects\Udemy_course\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [30]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 300)            │         3,900 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 200)            │        60,200 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 100)            │        20,100 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 80)             │         8,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 70)             │         5,670 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 60)             │         4,260 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 50)             │         3,050 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 25)             │         1,275 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 10)             │           260 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_9 (Dense)                 │ (None, 5)              │            55 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 106,856 (417.41 KB)

 Trainable params: 106,856 (417.41 KB)

 Non-trainable params: 0 (0.00 B)

In [31]:
## compilng the model in one way where we can provide the learning rate instead of default learning rate
opt = tf.keras.optimizers.Adam(learning_rate=0.001)
loss = tf.keras.losses.BinaryCrossentropy()
model.compile(optimizer=opt, loss=loss,metrics=['accuracy'])

In [32]:
## compile the model in another way where the learning rate of adam is default
# model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

In [33]:
## setup tensorboard
log_dir = 'log/fit' + datetime.datetime.now().strftime('%Y%m%d_%H%M%S')
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [34]:
## setup Early Stopping
Early_stopping_callback = EarlyStopping(monitor='val_loss', patience = 5, restore_best_weights=True )

In [35]:
## trainig the model
history = model.fit(
    X_train,y_train,validation_data = (X_test,y_test), epochs = 100,
    callbacks = [tensorflow_callback,Early_stopping_callback]
)

Epoch 1/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - accuracy: 0.7382 - loss: 0.6852 - val_accuracy: 0.7988 - val_loss: 0.6542
Epoch 2/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 2s 11ms/step - accuracy: 0.7836 - loss: 0.5705 - val_accuracy: 0.8140 - val_loss: 0.4173
Epoch 3/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8496 - loss: 0.3783 - val_accuracy: 0.8465 - val_loss: 0.3679
Epoch 4/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8494 - loss: 0.3662 - val_accuracy: 0.8572 - val_loss: 0.3548
Epoch 5/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8560 - loss: 0.3595 - val_accuracy: 0.8215 - val_loss: 0.4318
Epoch 6/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8577 - loss: 0.3585 - val_accuracy: 0.8540 - val_loss: 0.3531
Epoch 7/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8642 - loss: 0.3213 - val_accuracy: 0.8558 - val_loss: 0.3536
Epoch 8/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8690 - loss: 0.3268 - val_accuracy: 0.8586 - val_loss: 0.3532
Epoch 9/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8678 - loss: 0.3209 - val_accuracy: 0.8483 - val_loss: 0.3662
Epoch 10/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8815 - loss: 0.3014 - val_accuracy: 0.8535 - val_loss: 0.3589
Epoch 11/100
110/110 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.8661 - loss: 0.3244 - val_accuracy: 0.8477 - val_loss: 0.3691

In [36]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [37]:
## Load tensorboard extension
%load_ext tensorboard

In [40]:
%tensorboard --logdir log/fit20250130_091132

Reusing TensorBoard on port 6006 (pid 12724), started 0:00:03 ago. (Use '!kill 12724' to kill it.)